* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Lato;
    font-style: normal;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.center {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

.header {
    background: #222222;
    height: 75px;
    fill: #E8E8E8;
    display: flex;
    gap: 859px;
    align-items: center;
    justify-content: space-evenly;
}

.logo {
    padding: 18px 0 19px 23px;
    display: flex;
    align-items: flex-end;
    gap: 41px;
}

.header_btn {
    fill: #E8E8E8;
}

.header_btn:hover {
    fill: #F16D7F;
}

.header_btn:active {
    fill: #F26376;
}

.menu {
    display: flex;
    align-items: flex-end;
    gap: 33px;
}

.top {
    background: #F1E4E6;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.top_photo {
    width: 801px;
    height: 764px;
    padding: 0 63px 0 0;
}

.slogan {
    width: 405px;
    border-left: 12px solid #F16D7F;
    margin: 290px auto 381px;
    padding: 0 0 0 16px;
}

.word_first {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}

.word_second {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #222222;
}

.word_third {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #F16D7F;
}

.container {
    background: #FFFFFF;
    padding: 65px 0 0 0;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

.categories_top {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    gap: 30px;
    justify-content: center;
}

.categories_item {
    width: 100%;
}

.categories_big {
    padding: 0 0 96px 0;
    grid-column: span 3;
}

.item_women {
    background-image: url('../img/forwomen_1.png');
    width: 360px;
    height: 260px;
}

.item_men {
    background-image: url('../img/formen_2.jpg');
    width: 360px;
    height: 260px;
}

.item_kids {
    background-image: url('../img/forkids_3.png');
    width: 360px;
    height: 260px;
}

.item_accesopies {
    background-image: url('../img/accesories_4.png');
}

.top_text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 105px 0;
}

.text_big {
    width: 1140px;
    height: 180px;
    padding: 0;
}

.top_title {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.top_txt {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}

.text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.title {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}

.txt {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    padding: 0 0 48px 0;
}

.categories_lover {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

.lower_item {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    gap: 30px;
    justify-content: center;
}

.lower {
    display: block;
    width: 100%;
    min-height: 100%;
    background-position: center;
    background-size: cover;
}

.lower_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 24px 16px;
    gap: 16px;
}

.lower_photo {
    width: 100%;
    max-width: 360px;
    height: 420px;
    background-image: url('../img/lower_1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.lower:nth-child(2)>.lower_photo {
    background-image: url('../img/lower_2.png');
}

.lower:nth-child(3)>.lower_photo {
    background-image: url('../img/lower_3.png');
}

.lower:nth-child(4)>.lower_photo {
    background-image: url('../img/lower_4.png');
}

.lower:nth-child(5)>.lower_photo {
    background-image: url('../img/lower_5.png');
}

.lower:nth-child(6)>.lower_photo {
    background-image: url('../img/lower_6.png');
}

.lover_title {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.lower_txt {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.lower_price {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    flex: none;
    order: 2;
    flex-grow: 0;
    border: none;
    background-color: #FFFFFF;
}

.lower_price:hover {
    color: #fff;
    background-color: #FF6A6A
}

.lower_price:active {
    color: #FF6A6A;
    background-color: #fff;
}

.btn {
    background-color: #FFFFFF;
    border: 1px solid #FF6A6A;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    padding: 15px 39px;
    margin: 48px auto 60px auto;
    box-sizing: border-box;
    display: flex;
}

.btn:hover {
    color: #fff;
    background-color: #FF6A6A
}

.btn:active {
    color: #FF6A6A;
    background-color: #fff;
}

@media (max-width: 1024px) {
    .center {
        max-width: 768px;
    }

    .header {
        height: 74px;
        gap: 424px;
    }

    .menu {
        padding: 19px 32px 19px 0;
    }

    .header_btn {
        gap: 25px;
    }

    .forma {
        padding: 0 42px 0 0;
    }

    .top_photo {
        width: 386px;
        height: 368px;
        padding: 0 39px 0 0;
    }

    .slogan {
        width: 311px;
        height: 92px;
        margin: 138px auto 137px;
    }

    .word_first {
        font-size: 44px;
        line-height: 53px;
    }

    .word_second {
        font-size: 24px;
        line-height: 29px;
    }

    .word_third {
        font-size: 24px;
        line-height: 29px;
    }
   
    .categories_top {
        grid-template-columns: repeat(3, 232px);
        gap: 19px;
    }

    .categories_big {
        padding: 0 0 109px 0;
    }

    .item_women {
        width: 232px;
        height: 167px;
    }

    .item_men {
        width: 232px;
        height: 167px;
    }

    .item_kids {
        width: 232px;
        height: 167px;
    }

    .top_text {
        padding: 59px 0;
    }

    .text_big {
        width: 734px;
        height: 116px;
        padding: 33px 0;
    }

    .txt {
        padding: 0 0 72px 0;
    }

    .lower_item {
        display: grid;
        grid-template-columns: repeat(2, 360px);
        gap: 16px;
    }

    .btn {
        margin: 32px auto 70px auto;
    }
}